/*
 Breakpoints
 1)Phone: 0 - 600px
 2)Tablet (Portrait): 600px-900px
 3)Tablet (Landscape): 900px-1200px
 4)Desktop : 1200px - 1800px (Normal Styles apply)
 5) Bigger Desktop: 1800px +
*/
:root {
  --color-white: #fafafa;
  --color-black: #0B090A;
  --color-grey__-4: #f3f3f3;
  --color-grey__-3: #e5e5e6;
  --color-grey__-2: #d3d3da;
  --color-grey__-1: #b9b9c1;
  --color-grey__0: #9D9EA8;
  --color-grey__1: #62636A;
  --color-grey__2: #53545B;
  --color-grey__3: #343539;
  --color-grey__4: #28292D;
  --color-grey__5: #1B1D24;
  --color-grey__6: #161A1D;
  --color-red__4: #160200;
  --color-red__3: #250902;
  --color-red__2: #38040E;
  --color-red__1: #660708;
  --color-red__0: #800E13;
  --color-red__-1: #A4161A;
  --color-red__-2: #A4161A;
  --color-red__-3: #AD2831;
  --color-red__-4: #CC444B;
  --color-red__-5: #DA5552;
  --color-red__-6: #DF7373;
  --color-red__-7: #E39695;
  --color-red__-8: #E4B1AB;
  --color-green__3: #37f2b8;
  --color-green__2: #1ceaaa;
  --color-green__1: #12d99c;
  --color-green__0: #0ACB91;
  --color-green__-1: #01956b;
  --color-green__-2: #027d57;
  --color-shadow__-2: #F5F3F4;
  --color-shadow__-1: #D3D3D3;
  --color-shadow__0: #B1A7A6;
  --color-shadow__1: #8A817C;
  --color-shadow__2: #463F3A; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    :root {
      font-size: 70%; } }
  @media only screen and (max-width: 75em) {
    :root {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    :root {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  font-family: 'Raleway', sans-serif; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

a {
  text-decoration: none; }

::selection {
  background-color: var(--color-red__-4);
  color: var(--color-grey__-4); }

@font-face {
  font-family: 'Card Characters';
  font-style: normal;
  font-weight: normal;
  src: local("Card Characters"), url("../res/fonts/card-chracters.woff") format("woff"); }

.heading-text {
  font-family: 'Card Characters', sans-serif !important; }
