//Colors
//Primary Color : Black and White
//Secondary Color : Mud color
//Accent color : Red;
//Neutral Color Grey : Mud color
//Neutral colors and Primary : Black White and Grey
$color-white: #fafafa;
$color-black: #0B090A;
$color-grey__-4: #f3f3f3;
$color-grey__-3: #e5e5e6;
$color-grey__-2: #d3d3da;
$color-grey__-1: #b9b9c1;
$color-grey__0: #9D9EA8;
$color-grey__1: #62636A;
$color-grey__2: #53545B;
$color-grey__3: #343539;
$color-grey__4: #28292D;
$color-grey__5: #1B1D24;
$color-grey__6: #161A1D;
//Accent Color : Red
$color-red__4: #160200;
$color-red__3: #250902;
$color-red__2: #38040E;
$color-red__1: #660708;
$color-red__0: #800E13;
$color-red__-1: #A4161A;
$color-red__-2: #A4161A;
$color-red__-3: #AD2831;
$color-red__-4: #CC444B;
$color-red__-5: #DA5552;
$color-red__-6: #DF7373;
$color-red__-7: #E39695;
$color-red__-8: #E4B1AB;
// Accent Color : Green
$color-green__3: #37f2b8;
$color-green__2: #1ceaaa;
$color-green__1: #12d99c;
$color-green__0: #0ACB91;
$color-green__-1: #01956b;
$color-green__-2: #027d57;
// Secondary Color : Mud color
$color-shadow__-2: #F5F3F4;
$color-shadow__-1: #D3D3D3;
$color-shadow__0: #B1A7A6;
$color-shadow__1: #8A817C;
$color-shadow__2: #463F3A;
//Grid
$grid-width: 114rem;
$grid-width-small: 55rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Font size
$default-font-size: 1.6rem;

//Box properties
$border-radius-small: 2px;
$border-radius-default: 3px;
$border-radius-medium: 5px;
$border-radius-large: 10rem;

//Border
$border-thickness-default: 3px;
$border-thickness-medium: 5px;

