@font-face {
  font-family: 'Card Characters';
  font-style: normal;
  font-weight: normal;
  src: local('Card Characters'), url("../res/fonts/card-chracters.woff") format("woff");
}

.heading-text {
  font-family: 'Card Characters', sans-serif !important;
}

